.map {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-box {
    display: flex;
}

.map-container {
    width: 100%;
    height: 100%;
    flex: 3;
}

.leaflet-container {
    /* width: 100%;
    height: 100%; */
    z-index: 0;
}

.map-button {
    z-index: 1;
}

.search-results {
    margin: 15px;
    max-height: 300px;
    overflow: auto;
}

.search-result-item {
    text-align: center;
    margin: 10px 5px;
    padding: 4px;
    border: 1px solid gray;
}

.container {
    margin: 5px;
}